.PokedexArea{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

}
.PokedexContent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: var(--red);
  
}